/*
    Color variable file used in the project
*/

$pale-grey: #f7f5f7;
$red-pink: #ef3a5d;
$red-pink-dark: #ec1740;
$white: #ffffff;
$light-blue-grey: #e3f5f7;
$butterscotch: #ffcc46;
$seafoam-blue: #66cad8;
$ice: #d1ffed;
$light-blue-grey-two: #d0e8e6;
$petrol: #006a62;
$gunmetal: #525357;
$gunmetal-dark: #434447;
$steel-grey: #7f8185;
$steel-grey-dark: #6f7175;
$gunmetal-two: #535f65;
$black-25: rgba(0, 0, 0, 0.25);
$black-0: rgba(0, 0, 0, 0);
$black-66: rgba(0, 0, 0, 0.66);
$black-24: rgba(0, 0, 0, 0.24);
$white-two: #d8d8d8;
$black-42: rgba(0, 0, 0, 0.42);
$white-0: rgba(255, 255, 255, 0);
$battleship-grey: #6f7982;
$cerulean: #0082ca;
$darkblue: #1c53a1;
$darkblue-500: #0a326a;
$light-silver: #e5eaec;
$silver: #c2c7ca;
