<ul class="list">
  <li class="list__item" *ngFor="let item of items | angularPaginator: { currentPage: currentPage }; let i = index">
    <div class="list__item__infos info">
      <img class="info__img" [src]="item.img" />
      <p class="info__text">
        <span class="info__text__name">
          {{ item.name }}
        </span>
        <span class="info__text__id">
          ID: {{ item.id }}
        </span>
        <span class="info__text__username">
          Username: {{ item.username }}
        </span>
      </p>
    </div>

    <app-button [text]="'Pagar'" [outline]="true" class="list__item__btn"></app-button>
  </li>
</ul>

<angular-paginator [boundaryLinks]="false" [directionLinks]="true" maxSize="10" [rotate]="true"
  [boundaryLinkNumbers]="false" [forceEllipses]="false" size="sm" id="ANGULAR_PAGINATOR_DEFAULT" firstText="Primeira"
  previousText="Anterior" nextText="Próxima" lastText="Última" screenReaderFirstText="Primeira"
  screenReaderPreviousText="Anterior" screenReaderNextText="Próxima" screenReaderLastText="Última"
  screenReaderPageText="Página" screenReaderCurrentPageText="" screenReaderPaginationLabel="Paginação"
  className="ANGULAR_PAGINATOR_DEFAULT" [autoHide]="false" [disabled]="false" (pageChange)="currentPage = $event">
</angular-paginator>