<div class="users">
  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/9.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>

  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/12.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>

  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/13.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>
</div>