@import 'src/assets/style/mixins';
@import 'src/assets/style/colors';

::ng-deep {
  .simple-modal {
    .mat-dialog-container {
      .mat-dialog-content {
        display: flex;
        align-items: center;

        .mat-icon {
          height: 50px;
          width: 50px;
          font-size: 50px;
          color: $secondary;
          margin-right: 20px;

          &.fail {
            color: $error;
          }
        }

        & > p {
          margin: 0;
        }
      }
    }
    .app-button {
      width: 100%;

      @include respond-to('tablet') {
        padding: 0 50px;
        display: flex;
        justify-content: center;
      }

      .btn {
        max-width: 100%;

        @include respond-to('tablet') {
          max-width: 200px;
        }
      }
    }
  }
}
