<router-outlet></router-outlet>
<app-navbar></app-navbar>

<!-- <div class="users">
  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/9.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>

  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/12.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>

  <div class="user">
    <img src="https://randomuser.me/api/portraits/men/13.jpg" />
    <div class="info-wrapper">
      <div class="user-name">
        Nome do Usuário X
      </div>

      <div class="user-id-username">
        ID: X - Username: @usuarioX
      </div>
    </div>

    <button type="button" class="pay-button">
      Pagar
    </button>
  </div>
</div> -->

<!-- <div class="modal-backdrop">
  <div class="modal">
    <div class="title">Pagamento para <span>Nome do Usuário</span></div>

    <div class="content">
      <input type="number" placeholder="R$ 0,00" />

      <div class="cards">
        <select>
          <option selected>Cartão com final 0123</option>
        </select>
      </div>

      <button type="button" class="pay-button">
        Pagar
      </button>
    </div>
  </div>

  <div class="modal">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      O pagamento foi concluido com sucesso.<br />
      O pagamento <strong>não</strong> foi concluido com sucesso.
    </div>
  </div>
</div> -->
