@import 'src/assets/style/colors';
@import 'src/assets/style/mixins';

.navbar {
  padding: 0;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.item {
  margin-right: 10px;

  @include respond-to('tablet') {
    margin-right: 20px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__link {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social {
    border-radius: 50%;
    transition: 0.25s ease-in;
    height: 34px;
    width: 34px;
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    @include respond-to('desktop') {
      &:hover {
        transition: 0.25s ease-in;
        background-color: rgba($primary, 0.1);
      }
    }
  }
}
