<p mat-dialog-title>
  Pagamento para <span>{{ data['user']['name'] }}</span>
  <mat-icon class="close-modal" (click)="closeModal()">close</mat-icon>
</p>

<div mat-dialog-content>
  <form class="transaction-form" id="transactionForm" [formGroup]="transactionForm" *ngIf="transactionForm">
    <fieldset class="description">Insira os dados para efetuar o pagamento:</fieldset>

    <mat-form-field class="example-full-width" [ngClass]="{'disabled': loading}">
      <mat-label>*Valor</mat-label>
      <input type="tel" name="paymentValue" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        matInput formControlName="paymentValue" placeholder="R$ 0,00" min="0.01"
        (change)="onChange($event)">
      <mat-error *ngIf="transactionForm.controls['paymentValue'].errors">
        O valor é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="select example-full-width" [ngClass]="{'disabled': loading}">
      <mat-label>*Cartão de Crédito</mat-label>
      <mat-select formControlName="creditCard" name="creditCard">
        <mat-option value="" disabled>Selecione</mat-option>
        <mat-option *ngFor="let card of cards" [value]="card.card_number.slice(-4)">
          Cartão final {{ card.card_number.slice(-4) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</div>
<div mat-dialog-actions>
  <app-button [type]="'submit'" class="app-button" [text]="'Pagar'" [disabled]="transactionForm.invalid || loading"
    [status]="loading ? 'loading' : ''" (click)="onSubmit()"></app-button>
</div>