@import 'src/assets/style/mixins';
@import 'src/assets/style/colors';

.list-users {
  &__welcome {
    background: rgb(17, 199, 111);
    background: linear-gradient(
      90deg,
      rgba(17, 199, 111, 1) 0%,
      rgba(13, 152, 85, 1) 100%
    );
    padding: 30px 0;
    margin-bottom: 30px;

    @include respond-to('tablet') {
      padding: 40px 0;
      margin-bottom: 70px;
    }
  }
}

.title,
.description {
  color: #fff;
}

// MODAL TRANSACTION

::ng-deep {
  .transaction-dialog {
    @include respond-to('tablet') {
      min-height: 450px;
    }

    .mat-dialog-container {
      .mat-dialog-content {
        padding: 0;
      }
    }
    .transaction-form {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      @include respond-to('tablet') {
        padding: 30px 50px;
      }

      .mat-form-field {
        margin-bottom: 10px;
      }
    }

    .app-button {
      width: 100%;

      @include respond-to('tablet') {
        padding: 0 50px;
        display: flex;
        justify-content: center;
      }

      .btn {
        max-width: 100%;

        @include respond-to('tablet') {
          max-width: 200px;
        }
      }
    }
  }
}
