<section class="list-users">
  <div class="container">
    <h1 class="title">Pagar</h1>
    <p class="description">Escolha uma pessoa para enviar um pagamento:</p>

    <div class="list-users__pagination m-t-30" *ngIf="users else loading">
      <app-list [items]="users" (itemSelected)="handleItem($event)"></app-list>
    </div>

    <ng-template #loading>
      <div class="loading-page">
        <img class="loading-page__loader" alt="loading" src="../../../assets/images/loading-green.gif" />
      </div>
    </ng-template>
  </div>
</section>