@import 'src/assets/style/mixins';
@import 'src/assets/style/colors';

.list-users {
  padding-top: 20px;

  @include respond-to('desktop') {
    padding-top: 40px;
  }
}

.title {
  @include respond-to('desktop') {
    margin-top: 20px;
  }
}

.description {
  @include respond-to('desktop') {
    margin-bottom: 50px;
  }
}

// MODAL TRANSACTION

::ng-deep {
  .transaction-dialog {
    @include respond-to('tablet') {
      min-height: 450px;
    }

    .mat-dialog-container {
      .mat-dialog-content {
        padding: 0;
      }
    }
    .transaction-form {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      @include respond-to('tablet') {
        padding: 30px 50px;
      }

      .mat-form-field {
        margin-bottom: 10px;
      }
    }

    .app-button {
      width: 100%;

      @include respond-to('tablet') {
        padding: 0 50px;
        display: flex;
        justify-content: center;
      }

      .btn {
        max-width: 100%;

        @include respond-to('tablet') {
          max-width: 200px;
        }
      }
    }
  }
}
