@import 'src/assets/style/mixins';
@import 'src/assets/style/colors';

.list-users {
  padding-top: 20px;

  @include respond-to('desktop') {
    padding-top: 40px;
  }
}

// MODAL TRANSACTION

::ng-deep {
  .transaction-dialog {
    max-width: 100vw !important;
    width: 100%;
    height: 100%;

    .description {
      margin-bottom: 20px;
    }

    .mat-dialog-container {
      border-radius: 0;
      padding: 0;
      background: #fff;

      .mat-dialog-title {
        color: #fff;
        background-color: rgba(25, 25, 25, 0.8);
        padding: 20px;
        position: relative;

        & > span {
          color: $primary;
        }

        .close-modal {
          position: absolute;
          right: 10px;
          top: 17px;
          height: 36px;
          width: 36px;
          font-size: 36px;
        }
      }

      .mat-dialog-actions {
        padding: 20px;
      }

      .mat-dialog-content {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    }

    .transaction-form {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .mat-form-field {
        margin-bottom: 10px;
      }
    }

    .app-button {
      width: 100%;

      .btn {
        max-width: 100%;
      }
    }
  }
}
